
<%= render "shared/admin_header" %>

<div class = "container">

    <div class= "row">

        <div class="col-xs-12">

        	<div class="title">現場最新情報</div>

			<% @photos.each do |photo| %>

            <div class="col-xs-4">
                <div class="img-thumbnail">
				    <%= attachment_image_tag photo, :image, :fill, 300, 250 %>
                </div>
            </div>

            <% end %>


    	</div>

    </div>

</div>
