/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require simple_calendar
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";


/* フレキシブル対応-------------------------------------------------------------Start */

/* スマフォ */
@media screen and (max-width:425px) {

/* ヘッダー--------------------Start */
.sitename_user {
	width: 100%
}
h2{
	font-size: 20px;
}
.parent{
	font-size: 10px;
}
/* ヘッダー--------------------End */

/* 現場一覧--------------------Start */
.container {
	padding-top: 240px;
}


.btn1 {
	margin-top: 15px;
	margin-bottom: 15px;
}
.col-xs-4 {
	width: 100%;
}


th {
	/* 横書きになる */
	white-space: nowrap;
	padding: 10px
}
td {
	/* 横書きになる */
	white-space: nowrap;
	padding: 10px
}

/* 現場一覧--------------------End */

/* ユーザー詳細・編集--------------------Start */

.col-xs-7 {
	width: 100%;
}

/* ユーザー詳細・編集--------------------End */

/* 打刻・日報--------------------Start */

.col-xs-6 {
	width: 100%;
}

/* 打刻・日報--------------------End */




}

/* タブレット１ */
@media screen and (max-width:768px) {

}

/* タブレット２ */
@media screen and (max-width:1024px) {

}

/* フレキシブル対応---------------------------------------------------------------End */

.headerbar {
	width: 100%;
	height: 100px;
	position: fixed;
	top: 0;
}

.sitename_admin{
	color: white;
	background-color: #000000;
}
.sitename_user{
	color: white;
	background-color: #006699;
}
.parent {
    display: flex;
    justify-content: space-between;
}

.title-zero{
	font-size: 24px;
	margin-top: 15px;
	margin-bottom: 15px;
}
.welcome{
	margin-top: 40px;
	margin-right: 15px;
}

/* nav-barを固定した際に透明で見づらい為 */
.navbar-header{
	background-color: #FFFFFF;
}
.title{
	font-size: 20px;
	font-weight:  bold;
	margin-bottom: 10px;
}
/* nav-barの文字が青くなった為 */
.li{
	color: black;
}
.un-login{
	text-align: right;
}

/* 打刻・日報のバリデーション代わり */
.notification1{
	color: red;
	font-size: 15px;
}

.flash{
	color: #00CC66;
	font-size: 15px;
}

/* nav-barを固定した際に本文が隠れてしまった為 */
body{
	padding-top: 135px;
	padding-bottom: 135px;
}
.container{
	margin-bottom: 15px;
}

table{
 	table-layout: fixed;
   	width: 100%;
	margin-top: 15px;
	margin-bottom: 30px;
}

/* リンクボタン関連 */
.btn1 {
  text-align: right;
}
.btn2 {
	text-align: right;
	margin-top: 5px;
}
/* マップのボタン */
.btn-square {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #668ad8;/*ボタン色*/
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
}
/* マップのボタン */
.btn-square:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}

.searsh{
	font-size: 15px;
	text-align: right;
}

.calendar-title {
	font-size: 20px;
}

.calendar-heading {
	text-align: center;
}
/* 工事写真の隙間作り */
.img-thumbnail{
	margin-top: 15px;
	margin-bottom: 15px;
}
/* 工事写真の追加画面の調整 */
.genbamei{
	margin-top: 15px;
	margin-bottom: 15px;
}

#map{
  height: 500px;
  border: solid;
  border-color: #006699;
  margin-top: 15px;
}

.paginate{
	text-align: center;
}



